#menu-order {
    position: absolute;
    top: 90px;
    left: -125px;
    background: #fff;
    border: 1px solid #000;
}

#change-note-letter, .note-letter {
    text-decoration: underline;
    cursor: pointer;
}

#change-note-letter:hover, .note-letter {
    text-decoration: none;
}

#search-list-orders-wrp {
    margin-left: 15px;
}

/*form update*/
/*#order-form-update-wrp {*/
    /*width: 500px;*/
    /*min-height: 300px;*/
    /*background: #fff;*/
    /*padding: 10px;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*z-index: 2000;*/
    /*margin-left: -250px;*/
/*}*/

/*form add*/
#form-add-wrp {
    margin-bottom: 5px;
    position: relative;
}

#form-add-wrp textarea {
    margin-left: 150px;
    height: 65px;
}

#form-add-wrp input[type="submit"] {
    position: absolute;
    top: 20px;
    right: 25px;
}

#labels-wrp {
    position: absolute;
    top: 0;
    left: 10px;
}

#form-search-wrp {
    position: absolute;
    top: 0;
    left: 575px;
}